@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
}

html {
  font-size: 62.5%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
button {
  border: none;
  background: transparent;
  cursor: pointer;
}
a,
button {
  transition: 0.3s ease-in-out;
}
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.align-center {
  display: flex;
  align-items: center;
}
.fit-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
body {
  min-height: 100vh;
  padding: 8rem 2.8rem 4.9rem 2.8rem;
}
.nav {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 4rem;
  animation: slideInLeft 1s;
}

.main-section {
  margin-bottom: 9.4rem;
  text-align: center;
  animation: slideInRight 1s;
}
.main-section__title {
  font-weight: 300;
  font-size: 4.8rem;
  line-height: 6rem;
  color: #969696;
  margin-bottom: 1.6rem;
}
.main-section__title span {
  font-weight: 700;
  color: #15202a;
}
.main-section__sub-title {
  color: #15202a;
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 4rem;
}
.main-section__form {
  max-width: 63.7rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 20.12rem;
  gap: 0.6rem 1.6rem;
}
.main-section__form > * {
  border-radius: 2.8rem;
  font-size: 1.6rem;
  line-height: 1.9rem;
}
.input_ {
  padding: 1.8rem 3rem;
  font-weight: 300;
  color: #15202a;
  border: 1px solid #c2d3ff;
  box-shadow: 0 0px 7px 3px rgba(0, 0, 0, 0.0001);
}
.input_::placeholder {
  color: #b8c7ed;
}
.main-section__form button {
  padding: 1.9rem 6.3rem;
  background: #4c7bf3;
  box-shadow: 0 5px 10px 2px rgba(76, 123, 243, 0.230414);
  color: white;
  font-weight: 600;
}
.main-section__form button:focus,
.main-section__form button:hover {
  background: rgba(76, 123, 243, 0.77);
}

.main-section__form-error,
.main-section__form-success {
  font-style: italic;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 0.15px;
  color: #ff5466;
  text-align: left;
  padding-left: 3rem;
  display: none;
}
.main-section__form-success {
  color: #34ee43;
}
.error-input {
  border: 1px solid #ff5466;
}
.success-input {
  border: 1px solid #34ee43;
}
.input_.error-input::placeholder {
  color: #ff5466;
}

.error-input ~ .main-section__form-error,
.success-input ~ .main-section__form-success {
  display: block;
}

.section-hero {
  max-width: 64rem;
  margin: 0 auto;
  margin-bottom: 7.2rem;
  animation: slideInLeft 1s;
}
.footer {
  max-width: 20.4rem;
  margin: 0 auto;
  gap: 2.5rem;
  animation: slideInRight 1s;
}
.footer__copyight {
  color: #969696;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.footer__icon-box {
  gap: 1.171rem;
  justify-content: center;
}
.footer__icon {
  border-radius: 50%;
  border: 0.918px solid rgba(76, 23, 243, 0.146498);
  width: 3.2rem;
  height: 3.2rem;
  font-size: 1.4rem;
  color: #4c7bf3;
}
.footer__icon:hover,
.footer__icon:focus {
  background-color: #4c7bf3;
  color: white;
  transform: scale(1.4) translateY(-0.5rem);
}
@media all and (max-width: 530px) {
  .main-section__form {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .main-section__form button {
    grid-row: 3;
  }
}

@media all and (max-width: 410px) {
  .main-section__title {
    font-size: 2.2rem;
    line-height: 3.2rem;
    margin-bottom: 1.5rem;
  }
  .main-section__sub-title {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 3.2rem;
  }
  .main-section__form > * {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
  .input_ {
    padding: 1.2rem 3.2rem;
  }
  .main-section__form button {
    padding: 1.2rem 6.3rem;
  }
  .main-section__form-error {
    font-size: 1rem;
    letter-spacing: 0.125px;
    text-align: center;
    margin-bottom: 2rem;
  }
  .section-hero {
    margin-bottom: 12rem;
  }
  .footer {
    gap: 2.7rem;
    text-align: center;
  }
  .footer__copyight {
    font-size: 1rem;
    line-height: 1.2rem;
  }
}
@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-90rem);
  }
  75% {
    opacity: 0.75;
    transform: translateX(30rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(90rem);
  }
  75% {
    opacity: 0.75;
    transform: translateX(-30rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
